<div class="content tighter-margin">
	<p>You dressed up as
		<%= @user_costume.costume %> for Halloween in
		<%= @user_costume.year %>?
	</p>
	<br />
	<h1>What a cool costume!</h1>
</div>

<div class="nav">
	<%= link_to "Back to Home", root_path %>
</div>
<br />
<div>
	<%= image_tag 'bencooperhalloween.jpg', :class => 'center', :alt => 'Ben Cooper costumes', :title => 'Ben Cooper costumes' %>
</div>
